MONGO_URI=mongodb+srv://admin:admin123@sms-database.uaqylzu.mongodb.net/?appName=SMS-Database
JWT_SECRET=mySuperSecretKey123!
PERMISSION_API_URL=https://your-partner-api.com/api
PARTNER_API_KEY=your_partner_api_key
CORS_ORIGIN=http://localhost:5173,https://your-frontend.com
PORT=8000
